<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlType" value="SqlServer"/>
    <add key="SqlServer" value="Data Source=(LocalDB)\v11.0;AttachDbFilename=E:\ensleep\Documents\GitHub\EasyCMS\ES_DAL\db_CMS.mdf;Integrated Security=True"/>
  </appSettings>
</configuration>